{% extends 'veteran_app/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12">
            <div class="card shadow-lg border-0">
                <div class="card-header bg-gradient-primary text-white d-flex justify-content-between align-items-center py-4">
                    <div>
                        <h3 class="mb-1">
                            <i class="fas fa-user-plus me-2"></i>{{ action }} Veteran
                        </h3>
                        <p class="mb-0 opacity-75">{{ state.name }} State</p>
                    </div>
                    <a href="{% url 'state_members' state.id %}" class="btn btn-primary btn-lg">
                        <i class="fas fa-arrow-left me-2"></i>Back to Veterans
                    </a>
                </div>

                <div class="card-body p-5">
                    {% url 'state_members' state.id as state_members_url %}
                    {% include 'veteran_app/includes/veteran_member_form.html' with form=form cancel_url=state_members_url cancel_label='Cancel' submit_label='Save Veteran' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


